
.main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: black;
}

.contact{
    width:80%;
}

.contact p {
    margin-top:1rem;
}

.contact p a {
    text-decoration: none;
}

.indent{
    padding-left: 2.5rem;
}

.contactAddress{
    color:#c7444a;
    font-weight: 500;
    font-size: 1.5rem;
}