@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

.footer{
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    height: 50px;
    color: white;
}

.iconList{
    margin-top: 15.25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
}

.mandana{
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}

.designerTag{
    font-size: 1rem;
}

.tmYear{
    font-size: .75rem;
    margin-left: .25rem;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 300px ) {
    .mandana{
        font-size: 1rem;
    }   
}